@import url('normalize.css');

body {
  color: #333;
  letter-spacing: 1pt;
  line-height: 1;
  margin: auto;
  width: 80%;
}

h1 {
  margin-bottom: 0;
}

a {
  color: dodgerblue;
}

::selection {
  background: dodgerblue;
  color: white;
}

main {
  margin: -10px;
}

.box {
  background: #bbb;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 10px;
  opacity: 0.5;
  transition: all 250ms, opacity 1s;
}
.box.clicked {
  margin: 10px 50px;
  opacity: 1;
  transform: scale(1.25);
}
.box.added {
  opacity: 1;
}
